/**
 * Global CSS Styles
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base typography settings */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'EightBitDragon';
  src: url('/EightBitDragon-anqx.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
